{% extends "_base.html" %}

{% block content %}

    <div class="container mx-auto p-5 space-y-4 tracking-wider font-poppins">
        <h2 class="text-cornFlowerBlue-300 text-xl">This project is built with <span class="font-monoton text-honeyYellow text-3xl tracking-wider">DJANGO, TAILWIND CSS</span> with a lot of tweaks!</h2>
    </div>
{% endblock content %}