{% extends "_base.html" %}

{% block content %}
{#    <h2 class="text-cornFlowerBlue-300">Blog Home!</h2>#}

    <div class="container mx-auto p-5 space-y-4 tracking-wider font-poppins">
        <h2 class="text-4xl font-bold  text-blueGreen-400">Posts!</h2>
        {% for post in posts %}
{#            <h3 class="text-2xl text-honeyYellow font-bold font-blinker">{{ post.date_posted|date:'Y' }}</h3>#}
            <div class="flex space-x-16 text-cornFlowerBlue-300 leading-relaxed pb-2">
                <h3 class="font-blinker text-xl text-honeyYellow">{{ post.date_posted|date:'M' }} {{ post.date_posted.day }}, {{ post.date_posted|date:'Y' }}</h3>
                <h3 class="pr-10">{{ post.author }}</h3>
                <a href="" class="underline text-teal-200 hover:text-orange-400 transition duration-500">{{ post.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}