{% extends "_base.html" %}
{% load tailwind_filters %}
{% block content %}
    <div class="container mx-auto bg-coolGray-100 border-coolGray-200 border-2 border-opacity-40 rounded-xl p-5 shadow-2xl text-coolGray-700 tracking-wider">
        <form action="" method="POST">
            {% csrf_token %}
            <legend class="mb-4 text-3xl text-cornFlowerBlue-800 font-bold">
                Login
            </legend>
            <fieldset class="space-y-4 pt-4 border-t border-coolGray-600 border-opacity-20">
                {{ form|crispy }}
            </fieldset>

            <div class="mt-4">
                <button class="px-4 py-2 font-bold border-2 border-double border-lime-400 hover:border-lime-600 hover:shadow-2xl text-emerald-50 rounded-xl hover:bg-emerald-400 hover:text-emerald-700 transition duration-700
bg-gradient-to-r from-emerald-400 to-lime-500"
                        type="submit">Continue
                </button>
            </div>
        </form>

        <div class="mt-4 pt-3 border-t border-coolGray-600 border-opacity-20">
            <h4 class="text-sm text-coolGray-700 pb-2">Need an account?</h4>
            <a class="text-cornFlowerBlue-800 font-bold" href="{% url 'register' %}">Sign Up Here</a>
        </div>
    </div>
{% endblock content %}