{% extends "_base.html" %}
{% block content %}
    <div class="container mx-auto bg-coolGray-100 border-coolGray-200 border-2 border-opacity-40 rounded-xl p-5 shadow-2xl text-coolGray-700 tracking-wider">
        <h2>You have been logged out!</h2>
        <div class="mt-4 pt-3 border-t border-coolGray-600 border-opacity-20">
            <small class="text-sm text-coolGray-700">
                Login again?<a class="ml-2 text-cornFlowerBlue-800 font-bold" href="{% url 'login' %}">Let's Go</a>
            </small>
        </div>
    </div>
{% endblock content %}