{% extends "_base.html" %}
{#{% load tailwind_filters %}#}
{% block content %}
    <div class="container mx-auto p-5 text-coolGray-700 tracking-wider">
        <div class="flex justify-start m-16 p-5 space-x-16 items-center bg-gradient-to-r from-green-300 to-purple-400 rounded-xl shadow-2xl">
            <div>
                <img src="{{ user.profile.image.url }}" alt="" class="w-20 h-20 rounded-full mx-auto shadow-xl">
            </div>
            <div class="text-violet-700">
                <h2 class="text-2xl tracking-wider font-poppins">Welcome <span
                        class="font-bold text-3xl"> {{ user.username }}<span class="text-4xl">!</span> </span></h2>
                <p class="text-violet-500"> {{ user.email }}</p>
            </div>
        </div>

        <!--ADD FORM HERE-->
    </div>
{% endblock content %}