{% extends "_base.html" %}
{% load tailwind_filters %}
{% block content %}
    <div class="container mx-auto bg-coolGray-100 border-coolGray-200 border-2 border-opacity-40 rounded-xl p-5 shadow-2xl text-coolGray-700 tracking-wider">
        <form action="" method="POST">
            {% csrf_token %}
            <legend class="mb-4 text-3xl text-cornFlowerBlue-800 font-bold">
                Register Today
            </legend>
            <fieldset class="space-y-4 pt-4 border-t border-coolGray-600 border-opacity-20">
                {{ form|crispy }}
            </fieldset>

            <div class="mt-4">
                <button class="px-4 py-2 font-bold border-2 border-double border-fuchsia-500 hover:shadow-xl bg-honeyYellow-200 text-cornFlowerBlue-300 rounded-xl hover:text-cornFlowerBlue-50 transition duration-500
bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500"
                        type="submit">Sign Up
                </button>
            </div>
        </form>

        <div class="mt-4 pt-3 border-t border-coolGray-600 border-opacity-20">
            <small class="text-sm text-coolGray-700">
                Already have an account?<a class="ml-2 text-cornFlowerBlue-800 font-bold" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}