<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + TailwindCSS</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/main.css' %}">
    {% endcompress %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Nunito&family=Space+Mono&family=Monoton&family=Poppins:ital,wght@1,500&family=Lato&family=Quicksand:wght@600&family=Poppins&family=Bungee+Shade&family=Exo:wght@500&display=swap"
          rel="stylesheet">
</head>
<body class="bg-prussianBlue-500">

<!--Nav Bar content-->
<div class="container mx-auto">

    <div class="flex justify-between m-3 items-center">
        <!--Blog Name-->
        <div class="text-cornFlowerBlue-300">
{#            <h2 class="text-5xl font-bold tracking-wider font-blinker bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-transparent bg-clip-text">&lt; BleakBlog /&gt;</h2>#}
            <a href="{% url 'blogs-index' %}" class="text-5xl font-bold tracking-wider font-blinker bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 text-transparent bg-clip-text">&lt; BleakBlog /&gt;</a>
        </div>

        <!--Nav Bar-->
        <div class="flex justify-end mt-2 p-5 space-x-8 text-cornFlowerBlue-300 text-lg xl:tracking-widest tracking-wider font-poppins font-bold">
            <a href="{% url 'blogs-home' %} " class="hover:text-blueGreen-300 transition duration-500">Home</a>
            <a href="{% url 'blogs-about' %}" class="hover:text-blueGreen-300 transition duration-500">About</a>

            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="hover:text-blueGreen-300 transition duration-500">Profile</a>
                <a href="{% url 'logout' %}" class="hover:text-blueGreen-300 transition duration-500">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="hover:text-blueGreen-300 transition duration-500">Login</a>
                <a href="{% url 'register' %}" class="hover:text-blueGreen-300 transition duration-500">Register</a>
            {% endif %}
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="container mx-auto tracking-wider pb-5 pt-5">
            <h2 class="text-emerald-300">{{ message }}</h2>
        </div>
    {% endfor %}
{% endif %}

{% block content %}
{% endblock content %}
</body>
</html>