{% extends "_base.html" %}

{% block content %}
    <div class="container mx-auto ">
        <div class="tracking-wider font-bold font-blinker p-5 max-w-max rounded-xl space-y-4">
            <h3 class="text-4xl bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-500 via-red-600 to-orange-400">{{ author }}</h3>
            <p class="ml-3 tracking-widest text-3xl leading-relaxed bg-clip-text text-transparent bg-gradient-to-b from-orange-500 to-yellow-300">
                <span class="text-4xl">❛❛</span>
                {{ quote }}
                <span class="text-4xl">❜❜</span>
            </p>
        </div>
    </div>
{% endblock content %}